<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.test.demo.mapper.auto.EffectMapper">

    <select id="findeffectById" resultType="com.mybatis.test.demo.model.auto.Effect" parameterType="map" >
        select * from t_effect where id = #{id}
    </select>

</mapper>