<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.test.demo.mapper.auto.NewsInfoMapper">

    <select id="findAllorderby" resultType="com.mybatis.test.demo.model.auto.NewsInfo" >
    select * from t_newsinfo order by t_newsinfo.dic_datetime desc limit #{pageNum},10
    </select>

</mapper>